<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue.js</title>
    <meta name="description" content="">
  </head>
  <body>
    <main>
      <!--ul>
        <li v-for="dia in laborales">{{dia}}</li>
      </ul-->
      <!--ul>
        <li v-for="tarea in tareas">{{tarea.nombre}}
          <small>({{tarea.prioridad}})</small>
        </li>
      </ul-->
      <ul>
        <li v-for="(value, key, index) in persona">
          {{index}} - {{key}}: {{value}}
        </li>
      </ul>
      <pre>{{$data}}</pre>
    </main>
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <script src="vue2.js"></script>
  </body>
</html>
